<div class="post">
  <div class="post-header">
    <a href="/posts/<%= @post.id %>"><h4 class="lead"><%= @post.title %></h4></a>
    <small>Written by <%= link @post.user.username, to: user_post_path(@conn, :index, @post.user) %> on <%= @post.updated_at %></small>
  </div>
  <div class="post-body">
    <br>
    <%= @post.body |> Earmark.to_html |> raw %>
  </div>
</div>
<br><br>
