.post-header {
  background: #f2f2f2;
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ddd;
}
.post-footer {
  background: #eee;
}
.post-body {
  padding: 15px;
}
