<div class="content">
  <div class="text-center">
    <h1 class="lead">Recent Posts</h1>
  </div>
  <div>
    <%= for post <- @posts do %>
      <%= render Pxblog.PostView, "post.html", post: post, conn: @conn %>
    <% end %>
  </div>
</div>
